
{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Create an account</h2>
<form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="errorlist">
            {% for error in form.non_field_errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}

    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="errorlist">
                    {% for error in field.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Create Aaccount</button>
</form>

<p>
    Already have a account? <a href="{% url 'login' %}">Login here</a><br>
</p>
{% endblock %}