{% extends "base.html" %}

{% block content %}
    {% comment %} <a href="{% url 'quiz-detail' quiz.pk %}">← Go Back</a> {% endcomment %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.description|default:"—" }}</p>
    <p>Duration: {{ object.duration }} | Difficulty: {{ object.get_difficulty_display }}</p>

    <h3>Questions Preview:</h3>
    <ul>
    {% for q in question %}
    <li>{{ q.text }}</li>
    {% endfor %}
    </ul>

    <a href="{% url 'quiz-start' object.pk %}">
    <button>Start Quiz</button></a>

{% endblock content %}