<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quiz App{% endblock %}</title>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <div>
            {% if user.is_authenticated %}
               <strong><a href="{% url 'quiz-list' %}">{{ user.first_name }}</a></strong>!
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none;border:none;padding:0;margin:0;color:#0066cc;cursor:pointer;">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'quiz-list' %}">Home</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
    <main>
        {% comment %} {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags|default:'info' }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container"> 
        </div> {% endcomment %}
        
            {% block content %}
            {% endblock %}
    </main>
    
    <!-- Custom JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>